		/* banner styling */
		.header
		{
			font-family: 'Homemade Apple', cursive;
			font-weight:bold;
			margin-left:750px;
			margin-top:-340px;
			font-size:100px;
			color:white;
			text-shadow: 2px 2px #333333;
		}
		.subheader
		{
			font-family: 'Nothing You Could Do', cursive;
			color:white;
			text-shadow: 2px 2px #333333;
			margin-left:800px;
			margin-top:-10px;
			font-size:43px;
			font-weight:bold;
		}
		#banr
		{
			margin-top:60px;
		}
		
		/* ------------------------------------------------------------------------------------------------------------------------- */
		@media only screen and (max-width: 480px) 
		{
			.header
			{
				margin-left:210px;
				margin-top:-110px;
				font-size:30px;
				color:white;
			}
			.subheader
			{
				margin-left:150px;
				margin-top:-10px;
				font-size:27px;
			}
			#banr
			{
				margin-top:45px;
			}
		}
		/* ------------------------------------------------------------------------------------------------------------------------- */
		
		/* about styling */
		#about
		{
			margin-top:300px;
			margin-right:30px;
		}
		.abt-header
		{
			font-family: 'Sriracha', cursive;
			font-size:50px;
			font-weight:bold;
			color: #cccccc;
		}
		.abt-subheader
		{
			font-family: 'Aref Ruqaa', serif;
			font-style:italic;
			font-size: 20px;
		}
		button
		{
			width:270px; 
			height:45px; 
			background-color:black; 
			color:white; 
			border:1px solid black;
			font-size:20px;
			border-radius:3px;
		}
		button:hover
		{
			background-color:white;
			border-color:#cccccc;
			color:#cccccc;
		}
		
		/* ------------------------------------------------------------------------------------------------------------------------- */
		@media only screen and (max-width: 480px) 
		{
			#about
			{
				margin-top:20px;
				margin-right:-20px;
			}
			.img-circle
			{
				height:200px;
				width:200px;
			}
			.abt-header
			{
				font-size:25px;
				margin-left:60px;
			}
			.abt-subheader
			{	
				font-size: 18px;
				text-align:center;
				width:400px;
			}
			button
			{
				width:200px; 
				height:35px; 
				border:1px solid black;
				font-size:18px;
				border-radius:3px;
			}
		}
		/* ------------------------------------------------------------------------------------------------------------------------- */
		
		/* Sub1 styling */
		.topic
		{
			font-family: 'Rosarivo', serif;
			font-size:33px;
		}
		#back1
		{
			margin-top:-750px;
		}
		.recipe
		{
			width:350px;
			height:auto;
			display: inline-block;
			margin:10px;
			background-color:white;
			padding-bottom:30px;
		}
		.recipe img
		{
			margin-bottom:15px;
		}
		.recipe img:hover
		{
			opacity:0.5;
		}
		.recipe button
		{
			background-color: #cccccc;
			border-color:#cccccc;
		}
		.recipe button:hover
		{
			background-color:white;
			border-color:#cccccc;
			color:#cccccc;
		}
		#blog
		{
			border-color:#33adff;
			background-color:white;
			color:#33adff;
			width:350px;
			height:60px;
		}
		#blog:hover
		{
			background-color:#33adff;
			color:white;
		}
		
		/* ------------------------------------------------------------------------------------------------------------------------- */
		@media only screen and (max-width: 480px) 
		{
			#sub1
			{
				margin-top:0px;
			}
			.topic
			{
				font-size:23px;
			}
			.recipe
			{
				width:250px;
				height:auto;
				display: inline-block;
				margin:10px;
				background-color:white;
				padding-bottom:20px;
				
			}
			.recipe img
			{
				margin-bottom:15px;
				width:250px;
				height:150px;
			}
			#blog
			{
				border-color:#33adff;
				background-color:white;
				color:#33adff;
				width:250px;
				height:50px;
			}
			#back
			{
				height:1500px;
			}
			#back1
			{
				margin-top:-1400px;
			}
		}
		/* ------------------------------------------------------------------------------------------------------------------------- */
		
		/* Sub2 styling */
		.sub_recipes
		{
			width:550px;
			height:auto;
			display: inline-block;
			margin:10px;
			background-color:white;
			padding-bottom:30px;
		}
		.sub_recipes a:hover
		{
			text-decoration:none;
		}
		.sub_recipes img:hover
		{
			opacity:0.5;
		}
		
		/* ------------------------------------------------------------------------------------------------------------------------- */
		@media only screen and (max-width: 480px) 
		{
			.sub_recipes
			{
				width:350px;
				height:auto;
				display: inline-block;
				margin:10px;
				background-color:white;
				padding-bottom:30px;
			}
			.sub_recipes img
			{
				width:350px;
			}
		}
		/* ------------------------------------------------------------------------------------------------------------------------- */